*{
    padding: 2px;
    margin: 5px;
    font-size: x-large;
    background-color: rgb(233, 232, 236);
}

.navbar{
    display: flex;
    justify-content: space-between;
    font-family: 'Arial',sans-serif;


}
.navbar a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    transition: color 0.3s;
}
.navbar a:hover{
    color: rgb(249, 250, 251);
    border-bottom: 2px solid red;
    background-color: rgb(85, 85, 178);
}
